body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg,#020617,#0f172a);
    color: white;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 30px;
}

#auth-box, #chat-box {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
}

input, textarea, button {
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-radius: 10px;
}

button {
    cursor: pointer;
    font-weight: bold;
}

#messages {
    height: 300px;
    overflow-y: auto;
    margin: 20px 0;
}

.message {
    background: rgba(255,255,255,0.08);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}